<%= link_to "Back", users_path %>
<div class="chats-list">
  <%= render "chats/chat", chats: @chats%>
</div>

<div class="chat-post">
  <%= form_with model: @chat, remote: true do |f| %>
    <%= f.text_field :content, placeholder: "Message", class: "form-inline chat-content" %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "Post", class: "btn btn-info" %>
  <% end %>
</div>